<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">


<head th:replace="fragments :: head">

</head>


<body>

<div>
    <h1>Let's Get Started!</h1>
    <h5>just the basics for now...</h5>

</div>
<div class="row">
    <div class="col-md-4">
        <form th:action="@{/mapstory}" th:object="${newMapStory}" method="post">
            <table>
                <tr>
                    <td><label>Map Story Title</label></td>
                    <td><input type="text" th:field="*{mapStoryTitle}"/></td>
                </tr>
                <tr>
                    <td><label>Where did you go?</label></td>
                    <td><input type="text" th:field="*{plotLocation}"/></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Save"/></td>
                </tr>

                    <input type="hidden" id="newMapStory" th:value="${newMapStory.id}"/>


            </table>
        </form>
    </div>


</div>
</body>
</html>