<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

    <body>
    <div class="row">
        <div class="col=2">
        <img src="/img/maplogo.png"/>
        </div>
    </div>

    <table>
    <div th:each="one: ${story}">
        <td th:text="${one.mapStoryTitle}" />
        <td th:text="${one.plotLocation}" />
        <a th:href="${'/mapstory/'+one.id}" class="btn btn-primary">See this story</a>
    </div>
    </table>


</body>
</html>