<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

    <body>
    <div class="row">
        <div class="col=2">
        <img src="/img/maplogo.png"/>
        </div>
    </div>
    <div class="row">
        <div class="col=4">
            <h1> <a href="/signup">MapStory. Stories take place.</a></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-8">MapStory</div>
        <div class="col-3">2</div>
        <div class="col-3">Stories Take Place</div>
        <div class="col-3">4</div>
    </div>

        <div class="row">
            <div class="col-md-1">md1</div>
        </div>


</body>
</html>